.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  padding: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.card-body {
  padding: 1rem;
}

.sidebar {
  color: #ffffff;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle {
  color: #ffffff;
  padding: 0.75rem;
  background-color: #15559a;
  width: 16rem;
  height: 3rem;
  border-radius: 2rem;
}

.form-check-input:checked {
  background-color: #eeebeb;
  border-color:#eeebeb
}

