.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  padding: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.card-body {
  padding: 20px;
}

.sidebar {
  color: #ffffff;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle {
  color: white;
  padding: 15px;
  background-color: #15559a;
  width: 250px;
  height: 50px;
  border-radius: 45px;
}

.form-check-input:checked {
  background-color: #eeebeb;
  border-color:#eeebeb
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
